* {
    margin: 0;
    padding: 0;

}



body {
    background-color: #FFFFFF;
    width: 1440;
    height: 1024;
}

.header_container{
    max-width: 1440;
    display: flex;
    justify-content: space-between;
}

.logo {
    background-image: url(assets/1JobJetLogo\ 1.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

.header_link {
    
    width: 119px;
    height: 23px;
    font-family: 'ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-top: 70px;
    margin-right: 40px;



}

.blured-logo {
    background-image: url(assets/Blur\ Center\ Logo.png);
    background-repeat: no-repeat;
    width: 640px;
    height: 640px;
    margin-left: 360px;

}

