* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #FFFFFF;
    width: 1440;
    height: 1024;
}

.header_container {
    max-width: 1440;
    display: flex;
    justify-content: space-between;
}

.logo {
    background-image: url(assets/1JobJetLogo\ 1.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

.header_link {

    width: 119px;
    height: 23px;
    font-family: 'ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-top: 70px;
    margin-right: 40px;
}

.container-element {
    max-width: 1440;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}




/* .authorisation {
    width: 439px;
    height: 405px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.22)),
        linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));

    border-radius: 9px;
    border: 9px;
    border: 3px solid #00000038;
}

.blured-logo {
    background-image: url(assets/Blur\ Center\ Logo.png);
    background-repeat: no-repeat;
    width: 640px;
    height: 640px;
} */



.authorisation {
    width: 439px;
    height: 405px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.22)),
        linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 2;
    border-radius: 9px;
    border: 3px solid #00000038;
    margin-top: 600px;
}

.blured-logo {
    background-image: url(assets/Blur\ Center\ Logo.png);
    background-repeat: no-repeat;
    width: 640px;
    height: 640px;
    margin-top: 600px;
    position: absolute;
    z-index: 1;
}

.auth {
    width: 233px;
    height: 40px;
    margin-left: 100px;
    font-family: Ubuntu;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    color: rgba(28, 26, 93, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.login-email {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    background: rgba(0, 0, 0, 1);
    background: rgba(0, 0, 0, 0.8);
    background: rgba(217, 217, 217, 1);
}

.password{

}

.button-submit{}

.forgot{}